# Fundamentos de Ciencias de Datos

*Esta tarea tiene dos partes. Una parte en parejas y otra individual. La parte en parejas se encuentra en el archivo **tarea_01.ipynb**. Luego, cada uno de los integrantes de la pareja debe tomar la sección A o la sección B, y cada integrante debe realizar solamente la sección de la tarea que escogió. Este cuaderno de python contiene la realización de la **sección B** de la tarea, parte individual*

## Tarea 1 (Parte Individual - Sección B)

### Objetivos

1. Familiarización con Python en el contexto de Ciencias de Datos
2. Manejo de conjuntos de datos utilizando funciones propias de Pandas

### Metodología

Deberás completar este cuaderno de python, siguiendo las instrucciones contenidas en él. Puedes utilizar contenido que encuentre en internet siempre y cuando lo referencies a través de un comentario. Por ejemplo:

>```Python
># código para abrir archivo obtenido desde  https://uniwebsidad.com/libros/algoritmos-python/capitulo-11
>archivo = open("archivo.txt")
>```

No olvides poner nombres representativos a tus variables. Caso contrario se verá reflejado en una penalización de tu nota.

### Conjuntos de Datos

Se le entregan 3 conjuntos de datos: codigos.csv, datos_comunas.csv, presupuesto_2019.csv. 

#### codigos.csv

 | columna | descripción |
 | --- | :---: |
 | Código Región | **Entero**: Identificador único para cada región. |
 | Nombre Región | **String**: Nombre de la región. |
 | Abreviatura Región | **String**: Abreviatura (en letras) o nombre corto de la región.  |
 | Código Provincia | **Entero**: Identificador único para cada provincia. |
 | Nombre Provincia | **String**: Nombre de la provincia. |
 | Código Comuna 2018 | **Entero**: Identificador único para cada comuna. |
 | Nombre Comuna | **String**: Nombre de la comuna. |

 #### datos_comunas.csv

 | columna | descripción |
 | --- | :---: |
 | id | **Entero**: Identificador único para cada comuna. Mismo identificador que en **codigos.csv**. |
 | metros_plaza | **Entero**: Cantidad de metros de plaza que tiene la comuna. |
 | metros_parque | **Entero**: Cantidad de metros de parque que tiene la comuna.  |
 | personas_trabaja | **Entero**: Número de personas que trabaja en la municipalidad de la comuna. |

 #### presupuesto_2019.csv

 | columna | descripción |
 | --- | :---: |
 | CODIGO | **Entero**: Identificador único para cada comuna. Mismo identificador que en **codigos.csv**. |
 | MUNICIPIO | **String**: Nombre de la comuna. |
 | PRESUPUESTO | **Entero**: Presupuesto destinado a la comuna.  |

 **Observación**: en la columna `PRESUPUESTO`, hay datos que están como "no recepcionados. Eso puede producir que los análisis fallen, por lo que se recomienda limpiar los datos antes.

 #### poblacion.csv

 | columna | descripción |
 | --- | :---: |
 | CODIGO | **Entero**: Identificador único para cada comuna. Mismo identificador que en **codigos.csv**. |
 | MUNICIPIO | **String**: Nombre de la comuna. |
 | POBLACIÓN | **Entero**: Número de personas que vive en la comuna.  |

## Nombre alumno



Fayde Azar

## Recomendaciones

Primero, deberías importar en la siguiente celda **TODOS** los módulos de Python necesarios para la correcta ejecución de su tarea.

In [ ]:
import pandas as pd

Luego, deberías guardar en una (o varias) variable(s) TODOS los sets de datos que utilizarás en la tarea.

In [ ]:
df_presupuesto=pd.read_csv("presupuesto_2019.csv",delimiter=';')
df_codigos=pd.read_csv("codigos.csv",delimiter=';')
df_datoscomunas=pd.read_csv("datos_comunas.csv")
df_poblacion=pd.read_csv("poblacion.csv",delimiter=';')

Utilice las variables previamente guardadas para mostrar parte de la información de todos los conjuntos de datos. Vale decir, si usted creó dos variables, cada una con un conjunto de datos diferente, muestre parte de los dos conjuntos de datos. Esto te ayudará a entender mejor lo que contiene cada fuente de datos.

In [ ]:
df_presupuesto

     CODIGO      MUNICIPIO PRESUPUESTO
0      1101        IQUIQUE    59072234
1      1107  ALTO HOSPICIO    13984411
2      1401   POZO ALMONTE     7613962
3      1402         CAMIÑA     1584008
4      1403       COLCHANE     2500000
..      ...            ...         ...
340   16301     SAN CARLOS    10459691
341   16302       COIHUECO     5001190
342   16303         ÑIQUÉN     3386698
343   16304     SAN FABIÁN     1798500
344   16305    SAN NICOLÁS     3979700

[345 rows x 3 columns]

In [ ]:
df_codigos

     Código Región Nombre Región  ... Código Comuna 2018  Nombre Comuna
0                1      Tarapacá  ...               1101        Iquique
1                1      Tarapacá  ...               1107  Alto Hospicio
2                1      Tarapacá  ...               1401   Pozo Almonte
3                1      Tarapacá  ...               1402         Camiña
4                1      Tarapacá  ...               1403       Colchane
..             ...           ...  ...                ...            ...
341             16         Ñuble  ...              16301     San Carlos
342             16         Ñuble  ...              16302       Coihueco
343             16         Ñuble  ...              16303         Ñiquén
344             16         Ñuble  ...              16304     San Fabián
345             16         Ñuble  ...              16305    San Nicolás

[346 rows x 7 columns]

In [ ]:
df_datoscomunas

        id  metros_plaza  metros_parque  personas_trabaja
0     1101       58460.0        94824.0             271.0
1     1107      130316.0            0.0              55.0
2     1401           NaN            NaN               NaN
3     1402        4050.0            0.0               8.0
4     1403        2532.0            NaN               NaN
..     ...           ...            ...               ...
340  16301      168800.0        82226.0              19.0
341  16302       21282.0            0.0              62.0
342  16303       21925.0            0.0              22.0
343  16304        9500.0            0.0              26.0
344  16305       36300.0         4180.0              33.0

[345 rows x 4 columns]

In [ ]:
df_poblacion

     CODIGO      MUNICIPIO  POBLACIÓN
0      1101        IQUIQUE     216514
1      1107  ALTO HOSPICIO     124150
2      1401   POZO ALMONTE      16683
3      1402         CAMIÑA       1345
4      1403       COLCHANE       1556
..      ...            ...        ...
340   16301     SAN CARLOS      55935
341   16302       COIHUECO      28147
342   16303         ÑIQUÉN      11556
343   16304     SAN FABIÁN       4607
344   16305    SAN NICOLÁS      12068

[345 rows x 3 columns]

Además, si necesitas hacer algún pre-procesamiento **COMÚN** a todas sus futuras respuestas, deberías hacerlo en la siguiente celda

## Actividad

### Parte individual B
1. Calcule el presupuesto promedio por provincia. ¿Cuál es la **región** que tiene la provincia con mayor presupuesto promedio?
2. Genere un dataframe con las siguientes columnas: Nombre Región, Nombre Provincia, $\frac{\text{presupuesto}}{\text{poblacion}}$. Ordene el dataframe en orden descendente según **la proporción** $\frac{\text{presupuesto}}{\text{poblacion}}$.
3. Con base en los datos, responda la siguiente pregunta: revise las 20 comunas con mayor cantidad de metros de plaza. ¿Cuáles de ellas también son parte de las comunas con más presupuesto? ¿Qué puede comentar de esta situación?

## Detalles académicos

La nota de cada integrante de la pareja será calculado como $0.5 \cdot \text{Parte Grupal} + 0.5 \cdot \text{Parte Individual} $, donde la Parte Grupal corresponde a las 7 primeras consultas, y la parte individual a la sección respectiva elegida por cada integrante. **La tarea debe ser subida al buzón correspondiente de Webcursos hasta el XX de Agosto hasta las XX:XX horas**.

**Importante**: Recuerde que debe generar el código que responda las preguntas. Por ejemplo para la pregunta 4, debe entregar el código que muestre por pantalla la región con la mayor cantidad de metros de plaza. Si entrega sólo el dataframe ordenado su respuesta **no estará completamente correcta**.

## Pregunta 1

In [ ]:
df_presupuesto=df_presupuesto.replace("No Recepcionado",0)
df_presupuesto["PRESUPUESTO"]=df_presupuesto["PRESUPUESTO"].astype(int)
df_presupuesto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CODIGO       345 non-null    int64
 1   MUNICIPIO    345 non-null    object
 2   PRESUPUESTO  345 non-null    int64
dtypes: int64(2), object(1)
memory usage: 8.2+ KB

In [ ]:
df_presupuestocodigo=df_presupuesto.merge(df_codigos,left_on="CODIGO",right_on="Código Comuna 2018")
df_presupuestocodigo

     CODIGO      MUNICIPIO  ...  Código Comuna 2018  Nombre Comuna
0      1101        IQUIQUE  ...                1101        Iquique
1      1107  ALTO HOSPICIO  ...                1107  Alto Hospicio
2      1401   POZO ALMONTE  ...                1401   Pozo Almonte
3      1402         CAMIÑA  ...                1402         Camiña
4      1403       COLCHANE  ...                1403       Colchane
..      ...            ...  ...                 ...            ...
340   16301     SAN CARLOS  ...               16301     San Carlos
341   16302       COIHUECO  ...               16302       Coihueco
342   16303         ÑIQUÉN  ...               16303         Ñiquén
343   16304     SAN FABIÁN  ...               16304     San Fabián
344   16305    SAN NICOLÁS  ...               16305    San Nicolás

[345 rows x 10 columns]

In [ ]:
df_presupuestocodigo=df_presupuestocodigo[["Nombre Provincia","PRESUPUESTO"]]
df_presupuestocodigo

    Nombre Provincia  PRESUPUESTO
0            Iquique     59072234
1            Iquique     13984411
2          Tamarugal      7613962
3          Tamarugal      1584008
4          Tamarugal      2500000
..               ...          ...
340          Punilla     10459691
341          Punilla      5001190
342          Punilla      3386698
343          Punilla      1798500
344          Punilla      3979700

[345 rows x 2 columns]

In [ ]:
df_presupuestocodigo.columns=["Provincia","Presupuesto"]
df_presupuestocodigo["Presupuesto"].groupby([df_presupuestocodigo["Provincia"]]).mean().sort_values(ascending=False)

Provincia
Santiago                   5.819029e+07
Iquique                    3.652832e+07
Cordillera                 3.337075e+07
Valparaíso                 3.211924e+07
Antofagasta                3.131362e+07
Chacabuco                  3.036941e+07
Maipo                      2.436355e+07
Elqui                      2.276123e+07
Arica                      2.014329e+07
El Loa                     1.872318e+07
Concepción                 1.634681e+07
Copiapó                    1.493940e+07
Marga Marga                1.370744e+07
Magallanes                 1.228759e+07
San Antonio                1.136237e+07
Melipilla                  1.123824e+07
Talagante                  1.014113e+07
Isla de Pascua             9.914468e+06
Llanquihue                 9.754701e+06
Talca                      9.242844e+06
Valdivia                   8.835232e+06
Cautín                     8.348040e+06
Petorca                    8.148901e+06
Cachapoal                  7.972265e+06
Quillota                   7.935843e+06
Curicó                     7.713587e+06
Coihaique                  7.578370e+06
Limarí                     7.382515e+06
Diguillín                  7.360671e+06
Choapa                     7.292980e+06
Osorno                     6.890160e+06
Linares                    6.661475e+06
Biobío                     6.502455e+06
Los Andes                  6.202379e+06
San Felipe de Aconcagua    6.183694e+06
Cauquenes                  5.994912e+06
Chiloé                     5.831033e+06
Chañaral                   5.360084e+06
Colchagua                  5.329386e+06
Arauco                     5.248625e+06
Aisén                      4.967803e+06
Punilla                    4.925156e+06
Cardenal Caro              4.862846e+06
Tocopilla                  4.842910e+06
Huasco                     4.842596e+06
Ranco                      4.808089e+06
Última Esperanza           4.775498e+06
Tamarugal                  4.307158e+06
Malleco                    4.265426e+06
General Carrera            3.193370e+06
Antártica Chilena          2.743100e+06
Itata                      2.730885e+06
Palena                     2.460224e+06
Parinacota                 2.051415e+06
Tierra del Fuego           2.006870e+06
Capitán Prat               1.856979e+06
Name: Presupuesto, dtype: float64

Se puede concluir a partir de los resultados que la provincia que tiene mayor presupuesto promedio es la de Santiago, esto puede ser debido a que es la Provincia con mayor cantidad de habitantes en el pais.

## Pregunta 2

In [ ]:
df_presupuestopoblacion=df_presupuesto.merge(df_poblacion,left_on="CODIGO",right_on="CODIGO")
df_presupuestopoblacion

     CODIGO    MUNICIPIO_x PRESUPUESTO    MUNICIPIO_y  POBLACIÓN
0      1101        IQUIQUE    59072234        IQUIQUE     216514
1      1107  ALTO HOSPICIO    13984411  ALTO HOSPICIO     124150
2      1401   POZO ALMONTE     7613962   POZO ALMONTE      16683
3      1402         CAMIÑA     1584008         CAMIÑA       1345
4      1403       COLCHANE     2500000       COLCHANE       1556
..      ...            ...         ...            ...        ...
340   16301     SAN CARLOS    10459691     SAN CARLOS      55935
341   16302       COIHUECO     5001190       COIHUECO      28147
342   16303         ÑIQUÉN     3386698         ÑIQUÉN      11556
343   16304     SAN FABIÁN     1798500     SAN FABIÁN       4607
344   16305    SAN NICOLÁS     3979700    SAN NICOLÁS      12068

[345 rows x 5 columns]

In [ ]:
df_presupuestopoblacioncodigo=df_presupuestopoblacion.merge(df_codigos,left_on="CODIGO",right_on="Código Comuna 2018")
df_presupuestopoblacioncodigo

     CODIGO    MUNICIPIO_x  ... Código Comuna 2018  Nombre Comuna
0      1101        IQUIQUE  ...               1101        Iquique
1      1107  ALTO HOSPICIO  ...               1107  Alto Hospicio
2      1401   POZO ALMONTE  ...               1401   Pozo Almonte
3      1402         CAMIÑA  ...               1402         Camiña
4      1403       COLCHANE  ...               1403       Colchane
..      ...            ...  ...                ...            ...
340   16301     SAN CARLOS  ...              16301     San Carlos
341   16302       COIHUECO  ...              16302       Coihueco
342   16303         ÑIQUÉN  ...              16303         Ñiquén
343   16304     SAN FABIÁN  ...              16304     San Fabián
344   16305    SAN NICOLÁS  ...              16305    San Nicolás

[345 rows x 12 columns]

In [ ]:

df_presupuestopoblacioncodigodf_presupuestopoblacioncodigo=df_presupuestopoblacioncodigo[["Nombre Región","Nombre Provincia","PRESUPUESTO","POBLACIÓN"]]

    Nombre Región Nombre Provincia PRESUPUESTO  POBLACIÓN
0        Tarapacá          Iquique    59072234     216514
1        Tarapacá          Iquique    13984411     124150
2        Tarapacá        Tamarugal     7613962      16683
3        Tarapacá        Tamarugal     1584008       1345
4        Tarapacá        Tamarugal     2500000       1556
..            ...              ...         ...        ...
340         Ñuble          Punilla    10459691      55935
341         Ñuble          Punilla     5001190      28147
342         Ñuble          Punilla     3386698      11556
343         Ñuble          Punilla     1798500       4607
344         Ñuble          Punilla     3979700      12068

[345 rows x 4 columns]

In [ ]:
df_presupuestopoblacioncodigo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 0 to 344
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre Región     345 non-null    object
 1   Nombre Provincia  345 non-null    object
 2   PRESUPUESTO       345 non-null    object
 3   POBLACIÓN         345 non-null    int64
dtypes: int64(1), object(3)
memory usage: 13.5+ KB

In [ ]:
df_presupuestopoblacioncodigo=df_presupuestopoblacioncodigo.replace("No Recepcionado",0)
df_presupuestopoblacioncodigo["PRESUPUESTO"]=df_presupuestopoblacioncodigo["PRESUPUESTO"].astype(int)
df_presupuestopoblacioncodigo
df_presupuestopoblacioncodigo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 0 to 344
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre Región     345 non-null    object
 1   Nombre Provincia  345 non-null    object
 2   PRESUPUESTO       345 non-null    int64
 3   POBLACIÓN         345 non-null    int64
dtypes: int64(2), object(2)
memory usage: 13.5+ KB

In [ ]:
df_presupuestopoblacioncodigo=df_presupuestopoblacioncodigo.assign(Razon=lambda x:x.PRESUPUESTO/x.POBLACIÓN)
df_presupuestopoblacioncodigo
#Codigo para agregar la razón obtenido de https://www.geeksforgeeks.org/python-pandas-dataframe-assign/

    Nombre Región Nombre Provincia  PRESUPUESTO  POBLACIÓN        Razon
0        Tarapacá          Iquique     59072234     216514   272.833323
1        Tarapacá          Iquique     13984411     124150   112.641248
2        Tarapacá        Tamarugal      7613962      16683   456.390457
3        Tarapacá        Tamarugal      1584008       1345  1177.701115
4        Tarapacá        Tamarugal      2500000       1556  1606.683805
..            ...              ...          ...        ...          ...
340         Ñuble          Punilla     10459691      55935   186.997247
341         Ñuble          Punilla      5001190      28147   177.681103
342         Ñuble          Punilla      3386698      11556   293.068363
343         Ñuble          Punilla      1798500       4607   390.384198
344         Ñuble          Punilla      3979700      12068   329.772953

[345 rows x 5 columns]

In [ ]:
df_presupuestopoblacioncodigo=df_presupuestopoblacioncodigo[["Nombre Región","Nombre Provincia","Razon"]]
df_presupuestopoblacioncodigo

    Nombre Región Nombre Provincia        Razon
0        Tarapacá          Iquique   272.833323
1        Tarapacá          Iquique   112.641248
2        Tarapacá        Tamarugal   456.390457
3        Tarapacá        Tamarugal  1177.701115
4        Tarapacá        Tamarugal  1606.683805
..            ...              ...          ...
340         Ñuble          Punilla   186.997247
341         Ñuble          Punilla   177.681103
342         Ñuble          Punilla   293.068363
343         Ñuble          Punilla   390.384198
344         Ñuble          Punilla   329.772953

[345 rows x 3 columns]

In [ ]:
df_presupuestopoblacioncodigo=df_presupuestopoblacioncodigo.sort_values("Razon",ascending=False)
df_presupuestopoblacioncodigo.head()
#Codigo para ordenar según datos de columnas obtenido de https://www.analyticslane.com/2019/04/29/diferentes-formas-de-ordenar-dataframes-en-pandas/

                            Nombre Región  Nombre Provincia         Razon
248  Magallanes y de la Antártica Chilena        Magallanes  15869.366197
12                            Antofagasta            El Loa   9378.017606
247  Magallanes y de la Antártica Chilena        Magallanes   5766.150376
9                             Antofagasta       Antofagasta   4842.701775
253  Magallanes y de la Antártica Chilena  Tierra del Fuego   4677.053004

## Pregunta 3

In [ ]:
df_presupuestocodigo=df_presupuesto.merge(df_codigos,left_on="CODIGO",right_on="Código Comuna 2018")
df_extended=df_presupuestocodigo.merge(df_datoscomunas,left_on="CODIGO",right_on="id")
df_extended

     CODIGO      MUNICIPIO  ... metros_parque  personas_trabaja
0      1101        IQUIQUE  ...       94824.0             271.0
1      1107  ALTO HOSPICIO  ...           0.0              55.0
2      1401   POZO ALMONTE  ...           NaN               NaN
3      1402         CAMIÑA  ...           0.0               8.0
4      1403       COLCHANE  ...           NaN               NaN
..      ...            ...  ...           ...               ...
340   16301     SAN CARLOS  ...       82226.0              19.0
341   16302       COIHUECO  ...           0.0              62.0
342   16303         ÑIQUÉN  ...           0.0              22.0
343   16304     SAN FABIÁN  ...           0.0              26.0
344   16305    SAN NICOLÁS  ...        4180.0              33.0

[345 rows x 14 columns]

In [ ]:
df_extendedf=df_extended[["Nombre Comuna","PRESUPUESTO","metros_plaza"]]
df_extendedf

     Nombre Comuna PRESUPUESTO  metros_plaza
0          Iquique    59072234       58460.0
1    Alto Hospicio    13984411      130316.0
2     Pozo Almonte     7613962           NaN
3           Camiña     1584008        4050.0
4         Colchane     2500000        2532.0
..             ...         ...           ...
340     San Carlos    10459691      168800.0
341       Coihueco     5001190       21282.0
342         Ñiquén     3386698       21925.0
343     San Fabián     1798500        9500.0
344    San Nicolás     3979700       36300.0

[345 rows x 3 columns]

In [ ]:
df_extendedfmp=df_extendedf.sort_values("metros_plaza",ascending=False)
df_extendedfmp=df_extendedfmp.head(n=20)
df_extendedfmp

           Nombre Comuna  PRESUPUESTO  metros_plaza
50             Rinconada      5259050    37997333.0
274                Maipú    119318265     2661113.0
288          Puente Alto     85384573     2576707.0
269           Las Condes    339980450     1636790.0
78              Rancagua     55996193     1628888.0
265           La Florida     95609849     1518203.0
26              Coquimbo     56819394     1499157.0
294         San Bernardo     52127690     1372230.0
111                Talca     42998578     1329575.0
148  San Pedro de la Paz     20083168     1265443.0
277            Peñalolén     56733837     1179088.0
160          Los Angeles     38251170      977593.0
270         Lo Barnechea     92819385      959924.0
25             La Serena     59222000      941514.0
279             Pudahuel     87884438      896241.0
206         Puerto Montt     52090583      882370.0
283                Renca     37374165      862181.0
280            Quilicura     46258275      814723.0
46          Viña del Mar    100482380      809912.0
150           Talcahuano     29795363      786545.0

In [ ]:
df_extendedf=df_extendedf.replace("No Recepcionado",0)
df_extendedf["PRESUPUESTO"]=df_extendedf["PRESUPUESTO"].astype(int)
df_extendedf

    Nombre Comuna  PRESUPUESTO  metros_plaza
50      Rinconada      5259050    37997333.0
274         Maipú    119318265     2661113.0
288   Puente Alto     85384573     2576707.0
269    Las Condes    339980450     1636790.0
78       Rancagua     55996193     1628888.0
..            ...          ...           ...
248     Río Verde      3380175           NaN
295          Buin     23852125           NaN
311     Los Lagos      3946225           NaN
333      Quirihue      3598726           NaN
334    Cobquecura      2575353           NaN

[345 rows x 3 columns]

In [ ]:
df_extendedfp=df_extendedf.sort_values('PRESUPUESTO',ascending=False)
df_extendedfp=df_extendedfp.head(n=20)
df_extendedfp

    Nombre Comuna  PRESUPUESTO  metros_plaza
269    Las Condes    339980450     1636790.0
256      Santiago    163383547      330216.0
278   Providencia    125041538      212347.0
274         Maipú    119318265     2661113.0
7     Antofagasta    100635302      409807.0
46   Viña del Mar    100482380      809912.0
287      Vitacura     97000000      237461.0
265    La Florida     95609849     1518203.0
270  Lo Barnechea     92819385      959924.0
279      Pudahuel     87884438      896241.0
288   Puente Alto     85384573     2576707.0
40     Valparaíso     77718000      464470.0
174        Temuco     66388232      123165.0
275         Ñuñoa     63443811      583314.0
25      La Serena     59222000      941514.0
0         Iquique     59072234       58460.0
26       Coquimbo     56819394     1499157.0
277     Peñalolén     56733837     1179088.0
78       Rancagua     55996193     1628888.0
294  San Bernardo     52127690     1372230.0

In [ ]:
df_final=df_extendedfmp.merge(df_extendedfp,left_on='Nombre Comuna',right_on='Nombre Comuna')
df_final=df_final[['Nombre Comuna']]
df_final

   Nombre Comuna
0          Maipú
1    Puente Alto
2     Las Condes
3       Rancagua
4     La Florida
5       Coquimbo
6   San Bernardo
7      Peñalolén
8   Lo Barnechea
9      La Serena
10      Pudahuel
11  Viña del Mar

Las comunas que coinciden entre mayor cantidad de metros plaza y presupuesto son Maipú, Puente Alto, Las Condes, Rancagua, La Florida, Coquimbo, San Bernardo, Peñalolén, Lo Barnechea, La Serena, Pudahuel y Viña del Mar. A partir de estos resultados se puede encontrar alguna relacion con la cantidad de población que existe en las comunas o en otros casos con la accesibilidad monetaria que tienen las comunas.